DB_USERNAME=postgres
DB_PASSWORD=db_password
DB_HOST=localhost
DB_PORT=5432
DB_NAME=db_name

JWT_SECRET=YOUR_SECRET_KEY
JWT_EXPIRATION_MS=6000000
JWT_REFRESH_EXPIRATION_MS=259200000

AWS_REGION=eu-central-1
AWS_ACCESS_KEY_ID=YOUR_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=YOUR_SECRET_ACCESS_KEY
AWS_BUCKET=YOUR_BUCKET_NAME
AWS_S3_PATH=https://s3.eu-central-1.amazonaws.com

GEMINI_API_KEY=YOUR_API_KEY
EMBEDDINGS_MODEL=gemini-embedding-1
EMBEDDINGS_DIMENSIONS=1536
CHAT_MODEL=gemini-2.5-flash-lite
